:root{
    --n-blue:#0b3d91;
    --n-red:#fc3d21;
    --s-dark:#020204;
    --t-main:#f4f4f9;
    --c-bg:rgba(255, 255, 255, 0.05);
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:'Helvetica Neue', Arial, sans-serif;
    background:var(--t-main);
    overflow-x:hidden;
    line-height:1.6;
}

.space{
    position:fixed;
    top: 0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-3;
    background:var(--s-dark);
    overflow: hidden;
}

.glowing{
    position:absolute;
    border-radius:50%;
    filter:blur(90px);
    opacity:0.35;
    animation:float 20s infinite alternate ease-in-out;
}

.orb-1{
    width:40vw;
    height:40vw;
    background:var(--n-blue);
    top:-10%;
    left:-10%;
}

.orb-2{
    width:30vw;
    height:30vw;
    background:var(--n-red);
    bottom:-10%;
    right:-5%;
    animation-duration:25s;
    animation-delay:-5s;
}

@keyframes float {
    0% {transform: translate(0,0) scale(1);}
    100% {transform:translate(80px,80px) sclae(1.1);}
}

.stars-l{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-2;
    background-image:radial-gradient(1.5px 1.5px at 20px 30px, #ffffff, rgba(0,0,0,0)), radial-gradient(1px 1px at 80px 70px, #ffffff, rgba(0,0,0,0)), radial-gradient(2px 2px at 150px 120px, #ffffff, rgba(0,0,0,0)), radial-gradient(1px 1px at 250px 40px, #ffffff, rgba(0,0,0,0));
    background-repeat:repeat;
    background-size:300px 300px;
    animation:starmove 100s linear infinite;
    opacity:0.5;
    pointer-events:none;
}

@keyframes starmove {
    from {background-positon:0 0;}
    to {background-position:-1000px 1000px;}
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    background: rgba(2,2,4,0.7);
    border-bottom: 1px solid rgba(255,255,255,.05);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    z-index: 100;
}

.nnn{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    width:55px;
    height:55px;
    border-radius:50%;
    border:2px solid var(--n-red);
    box-shadow:0 0 15px rgba(252,61,33,.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:15px;
}

nav h2{
    margin:0;
    font-size:24px;
    letter-spacing:2px;
    color: #3abff8;
    margin-right:20px;
}


nav a{
    color: var(--t-main);
    text-decoration: none;
    font-weight: bold;
    transition: color .3s;
}

nav a:hover{
    color:var(--n-red);
}


header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

h1{
    font-size:60px;
    margin-bottom:10px;
    letter-spacing:4px;
    font-weight: bold;
    text-shadow: 0 0 20px var(--n-red);
    color: #3abff8;
    text-transform:uppercase;
}

.sub{
    font-size: 18px;
    opacity:0.7;
    letter-spacing:1px;
    margin-top:10px;
    background:linear-gradient(90deg, #e21b1b, #60a5fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}

main{
    display:flex;
    justify-content:center;
    gap: 40px;
    margin:0 auto;
    padding:50px 20px 100px 20px;
    max-width:1000px;
    flex-wrap:wrap;
}

.card {
    background:rgba(255, 255, 255, 0.03);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.1);
    border-top:3px solid var(--n-blue);
    padding: 30px;
    border-radius:16px;
    width: 300px;
    text-align:center;
    backdrop-filter:blur(5px);
    margin-bottom:20px;
    box-shadow:0 0 30px rgba(59, 130, 246, 0.2);
    transition:0.3s;
}

.card h2 {
    color:#3af879;
    border-bottom:2px solid var(--n-red);
    display:inline-block;
    padding-bottom:5px;
    margin-bottom:20px;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow: 0 10 30px rgba(252,61,33,0.2);
    border-color:var(--n-red);
    background:rgba(255,255,255,0.08);
}

.btn{
    display:block;
    width:100%;
    margin:15px 0;
    padding:15px;
    font-size:16px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius:8px;
    background: var(--c-bg);
    color:var(--t-main);
    cursor:pointer;
    box-shadow: 0 0 15px rgba(59,130,246,0.5);
    transition: transform 0.1s ease-in-out, background-color 0.3s, border-color 0.3s;
}

.btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px rgba(59,130,246,0.8);
}

.btn:active{
    transform: scale(0.95); 
}

.about-sec {
    background:rgba(0,0,0,0.4);
    padding:80px 20px;
    text-align:center;
    border-top:1px solid rgba(255,255,255,0.05);
}

.profile-container {
    max-width:600px;
    margin:0 auto;
}

.profile-pic{
    width:150px;
    height:150px;
    background-color:#222;
    border-radius:50%;
    margin:0 auto 20px auto;
    border:3px solid var(--n-red);
    background-size:cover;
    background-position:center;
}

footer {
    text-align:center;
    padding:40px 20px;
    background:#000;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.future-note{
    color:var(--n-red);
    font-weight:bold;
    margin-bottom:20px;
}

.copyright{
    color:#666;
    font-size:14px;
}

.profile-container h3{
    color:rgb(252, 240, 11);
    font-weight: bold;
}

.profile-container p{
    color:rgba(255, 251, 37, 0.596);
    font-family: arial;
    font-weight:bold;
}


/*the scrolling bar*/
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#020204;
}

::-webkit-scrollbar-thumb{
    background:var(--n-blue);
    border-radius:20px;
    box-shadow:0 0 10px var(--n-blue);
}

::-webkit-scrollbar-thumb:hover{
    background:var(--n-red);
    box-shadow:0 0 15px var(--n-red);
}

/*atoms & formula*/

.atom{
    position:absolute;
    width:70px;
    height:70px;
    opacity:.15;
    animation:floating 12s ease-in-out infinite alternate;
}

.nucleus{
    position:absolute;
    width:12px;
    height:12px;
    background:#ff4d4d;
    border-radius:50%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 10px red;
}

.orbit{
    position:absolute;
    inset:0;
    border:2px solid #4fc3ff;
    border-radius:50%;
}

.orbit1{
    transform:rotate(0deg);
}

.orbit2{
    transform:rotate(60deg);
}

.orbit3{
    transform:rotate(120deg);
}

.orbit::after{
    content:"";
    position:absolute;
    width:7px;
    height:7px;
    background:#4fc3ff;
    border-radius:50%;
    top:-3px;
    left:50%;
    transform:translateX(-50%);
    box-shadow:0 0 10px #4fc3ff;

    animation:electron 4s linear infinite;
}

@keyframes electron{
    from{transform:rotate(0deg) translateY(35px);}
    to{transform:rotate(360deg) translateY(35px);}
}

@keyframes floating{
    from{transform:translateY(0px);}
    to{transform:translateY(-25px);}
}

.a1{
    top:15%;
    left:10%;
}

.a2{
    top:55%;
    right:10%;
}

.a3{
    bottom: 15%;
    left:20%;
}



.formula {
    position:absolute;
    color:#4fc4ffa3;
    font-size:32px;
    font-weight:bold;
    font-family:serif;
    animation:floating 18s ease-in-out infinite alternate;
}

.f1{
    top:25%;
    right:16%;
}

.f2{
    bottom:20%;
    right:30%;
}

.f3{
    top:70%;
    left:10%;
}

.f4{
    top:12%;
    left:55%;
}